$gcolor: #17141d; // global color
$color_: #a1a1af; // text
$border: #28242f;
$blocks: #201c29;
$shadow: #070509;

.diagonal {
  background-image: radial-gradient(closest-side, #595959, black);
  height: 1150px;
  padding: 2rem;

}



.diagonal:nth-child(2) {
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  padding-top: 10rem 10%;
  padding-bottom: 20%;

}

body {
  text-align: center;
}

.stk {
  margin-right: 45%;
  margin-left: 7%;
}

@media only screen and (max-width: 1300px) {
  .stk {
    margin-right: 7%;
  }
}

@media only screen and (max-width: 1000px) {
  .image {
    display: none;
  }

  .stk {
    margin-right: 7%;
  }


}

@media only screen and (max-width: 650px) {
  .diagonal {
    height: 1340px;

  }
}