text {
  font-family: 'dosis-light';
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}


.contactinfo {
  margin-left: 25%;
}
@media only  screen and (max-width: 1300px) {

  .contactinfo{
    margin-left: 15%;
  }
}
@media only  screen and (max-width: 900px) {

  .contactinfo{
    margin-left: 5%;
  }
}
@media only  screen and (max-width: 765px) {

  .contactinfo{
    margin-left: 25%;
  }
}

@media only  screen and (max-width:650px) {

  .contactinfo{
    margin-left: 15%;
  }
}

@media only  screen and (max-width:500px) {

  .contactinfo{
    margin-left: 7%;
  }
}

@media only  screen and (max-width:420px) {

  .contactinfo{
    margin-left: 2%;
  }
}