text {
  font-family: 'dosis-light';
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.contact{
  background-image: radial-gradient(closest-side, white, white, white, white ,black);
}

.contactinfo {
  margin-left: 25%;
}

@media only  screen and (max-width: 500px) {

  .contactinfo{
    margin-left: 5%;
  }
}

@media only  screen and (max-width: 500px) {

  .contactinfo{
    margin-left: 5%;
  }
}

@media only  screen and (max-width:420px) {

  .contactinfo{
    margin-left: 2%;
  }
}